### Задание выполнила Колесниченко Ксения Сергеевна.
Контакты https://www.linkedin.com/in/kseniia-kolesnichenko/

In [1]:
import pandas as pd

In [2]:
submission_cross=pd.read_csv('submission_cross.csv')
LGBM=pd.read_csv('LGBM065Classifier_full_data_17065.csv')

In [3]:
submission_cross.head()

   SK_ID_CURR    TARGET
0      100001  0.033623
1      100005  0.112856
2      100013  0.026896
3      100028  0.032239
4      100038  0.134143

In [4]:
trgt=pd.DataFrame()
trgt['SK_ID_CURR']=submission_cross.SK_ID_CURR
trgt.head(1)

   SK_ID_CURR
0      100001

In [5]:
trgt['cross']=submission_cross.TARGET
trgt['LGBM']=LGBM.TARGET
trgt['TARGET']=trgt.cross*0.8+trgt.LGBM*0.2
trgt.head(1)

   SK_ID_CURR     cross      LGBM    TARGET
0      100001  0.033623  0.017118  0.030322

In [6]:
trgt.drop(['cross','LGBM'], inplace=True, axis=1)
trgt.head()

   SK_ID_CURR    TARGET
0      100001  0.030322
1      100005  0.104084
2      100013  0.025292
3      100028  0.031176
4      100038  0.143544

In [8]:
trgt.to_csv('trgt.csv', index = False)